<div *ngFor="let todo of toDolest; index as i; " class="d-flex w-50 m-auto mt-3 flex-row align-content-center justify-content-start ">

    <input type="button" [value]="todo.isComplet ? 'Complet': 'notComplet'" (click)="isCompletVal(i)" class="Complet-butt"> 
    <input type="button" value="delete" style="  width: 5rem ;height: 2rem ;" (click)="deletToDo(i)" class="btn btn-danger mx-2 py-1 my-auto"> 
    <span class="fs-1" [ngStyle]="{'text-decoration':todo.isComplet? 'line-through':''}" > {{todo.toDo }} </span>
</div>